{{ define "main" }}

  <div class="flex-wrap justify-between mw8 center ph3 mt4">
    <link href="{{ "postes/pagefind/pagefind-ui.css" | relURL }}" rel="stylesheet">
    <script src="{{ "postes/pagefind/pagefind-ui.js" | relURL }}"></script>
    <div id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>
  </div>

  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | default "mid-gray" }}">
      <p>{{ i18n "taxonomyPageList" . }}</p>
    </div>
  </article>
  <div class="mw8 center">
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range  .Pages }}
        <div class="relative w-100  mb4 bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}
