{{ define "main" }}

<div class="flex-wrap justify-between mw8 center ph3 mt4">
  <link href="{{ "postes/pagefind/pagefind-ui.css" | relURL }}" rel="stylesheet">
  <script src="{{ "postes/pagefind/pagefind-ui.js" | relURL }}"></script>
  <div id="search"></div>
  <script>
      window.addEventListener('DOMContentLoaded', (event) => {
          new PagefindUI({ element: "#search", showSubResults: true });
      });
  </script>
</div>

  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{ .Content }}
    </section>
    <aside class="flex-ns flex-wrap justify-around mt5" data-pagefind-ignore>
      {{ range .Paginator.Pages }}
        <div class="relative w-100 w-30-l mb4 bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </aside>
    {{ template "_internal/pagination.html" . }}
  </article>
{{ end }}
